<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= list.title %></h1>
      <a href="/lists/<%= list.id %>/edit" class="btn btn-warning btn-sm">Edit</a>

      <form style="display:initial" action="/lists/<%= list.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger btn-sm ">Delete</button>
      </form>
      <p><%= list.description %></p>

    <p>  Items To Buy: </p>
    <ul class="list-group">

      <% list.items.forEach((item) => { %>

          <li class="list-group-item">
            <a href="/lists/<%= item.listId %>/items/<%= item.id %>/edit"> <%= item.name %> </a>
            <form style="display:initial" align="right" action="/lists/<%= item.listId %>/items/<%= item.id %>/destroy" method="post">
              <button type="submit" align="right" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </li>
          <% }) %>


              </ul>

        <a href="/lists/<%= list.id %>/items/new" class="btn btn-success btn-sm">Add Items</a>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
